/*COLORES
AZUL-MORADO: #24135F
NEGRO: #212721
LILA: #8246AF
*/
@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/Proxima_Nova_Font.otf");
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url("fonts/Proxima-Nova-Bold.otf");
}
@font-face {
    font-family: "Proxima Nova Semi-Bold";
    src: url("fonts/Proxima\ Nova\ Semibold.otf");
}
.semibold{
    font-family: "roxima Nova Semi-Bold";
}
.bold{
    font-family: "Proxima Nova Bold";
}
body{
    font-family: "Proxima Nova";
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #fff;
}
#menu li{
    list-style: none;
}
#logo-header{
    max-width: 200px;
}
.fa-xmark{
    color: white;
    font-size: 2rem;
}
.fa-bars{
    color: white;
    font-size: 2rem;
}

/*COMIENZAN FONDOS DE LAS PESTAÑAS*/
.header{
    background-color: #24135F;
    color: #fff;
}
/*.header-somos{
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    background-image: url("../img/header-somos.png");
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    color: #fff;
}
.header-somos::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, #8246AF);
    z-index: -1;
}
.header-somos h1{
    margin-top: 450px;
}
*/
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #24135F;
    mix-blend-mode: overlay;
}
.fondo-morado{
    background-image: url("../img/fondo-modales.png");
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
}
.fondo-morado-activa{
    background-image: url("../img/fondo-modales.png");
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
}
.fondo-azul{
    background-color: #24135F;
    color: white;
}
.fondo-menu{
    background-image: url("../img/menu-fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.menu{
    background-color: #24135F;
    color: #fff;
    width: 100%;
    height: 90vh;
}
/*TERMINAN FONDOS DE LAS PANTALLAS*/
#menu{
    display: none;
}
.planes{
    text-align: center;
    position: relative;
}
.plan{
    opacity: 0.5;
    position: relative;
}
.activa-linea{
    text-align: center; 
    position: relative;
}
.activa-linea h3{
    margin-top: 300px;
}
.portabilidad-facil{
    position: relative;

}
/*.telefononia-limite{

}
.comunicate{

}*/
.como-funciona{
    position: relative;
    text-align: center;
}
.como-funciona h5{
    cursor: pointer;
}
.logo-footer{
    max-width: 250px;
}
.redes img{
    max-width: 20px;
}
.sim {
    max-width: 500px;
    margin-top: 200px;
    margin-left: 100px;
}
.iconos-activa{
    margin-top: 400px;
}
.celular-modal{
    max-width: 400px;
    margin-left: 50px;
}
.cel-modal{
    max-width: 500px;
    margin-top: 90px;
    margin-left: 50px;
}
.texto-modal h1{
    margin-top: 50px;
}
.logo-modal{
    max-width: 200px;
    margin-top: 50px;
    margin-left: 50px;
}
.modal-body{
    padding: 0;
}
.texto-morado{
    color: #8246AF;
}
footer{
    background-color: #8246AF;
    color: white;
    text-align: center;
}footer li{
    display: inline-block;
    margin-left: 90px;
}
.input-group input{
    background: none;
    border-radius: 0;
}
.input-group-text{
    background-color: #8246AF;
    border-radius: 0;
    border-color: #8246AF;
    color: #fff;
}
/*BOTONES*/
.btn-modal{margin-right: 40px;
}
.btn-menu{
    max-width: 40px;
    position: relative;
}
.conoce{
    background-color: #8246AF;
    border-color: #8246AF;
    border-radius: 5px;
    width: 150px;
}
.conoce:hover{
    background-color: #8246AF;
}
.btn-tel-modal{
    background-color: #8246AF;
    border-color: #8246AF;
    width: 250px;
    height: 40px;
}
.btn-tel-modal:hover{
    background-color: #8246AF;
    color: #fff;
    border-color: #8246AF;
}
.btn-tel{
    background-color: #8246AF;
    border-color: #8246AF;
    color: #fff;
    width: 250px;
    height: 40px;
}

.btn-tel:hover{
    background-color: #8246AF;
    color: #fff;
    border-color: #8246AF;
}
.btn-faqs{
    background-color: #9D62D9;
    border-color: #9D62D9;
    color: #fff;
    width: 250px;
    height: 40px;
}
.btn-faqs:hover{
    background-color: #9D62D9;
    color: #fff;
    border-color: #9D62D9;
}
/*TERMINA BOTONES*/
/*COLLAPSE DE FAQS*/
.collapsible {
    background: none;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-top-color: #fff;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    border: none;
    transition: max-height 0.2s ease-out;
    background: none;
  }
  .content p{
      margin-top: 10px;
      color: white;
  }
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: #fff;
    font-weight: bold;
  }
/*TERMINA COLLAPSE DE FAQS*/
.icono-redes{
    margin-top: 180px;
    margin-left: 50px;
    max-width: 30px;
}
.icono-bb{
    margin-top: 190px;
}
/*ANIMACIONES*/
.animacion-titulos{
    display: inline-block;
    animation: fadeIn;
    animation-duration: 10s;
    font-family: "Proxima Nova Bold";
}
.zoom{
    transition: transform .2s;
    
}
.zoom:hover{
    transform: scale(1.1);
    opacity: 1;
}
/*TERMINA ANIMACIONES*/
.opcion:hover{
    background-image: url("../img/luz.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#mensaje{
    display: none;
}
#portabilidad span{
    color: rgba(255, 255, 255, 0.4);
}
.showcase{
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: #111;
    color: #fff;
    z-index: 2;
}
.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.text{
    position: relative;
    text-align: center;
}
.video-bg_video{
    width: 100%;
    height: 100%;
    max-width: 490px;
    position: absolute;
    object-fit: cover;
}
.video-sombra{
    box-shadow: 10px 10px 15px 15px #0D0642;
}
.luces-centrada{
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: #111;
    color: #fff;
    z-index: 2;
}
.luces-centrada video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.text{
    position: relative;
    text-align: center;
}
.degradado-arriba{
    width: 100%;
    height: 100px;
    background: linear-gradient(#24135F, #0D0642);
}
.degradado-videos{
    width: 100%;
    height: 50px;
    background: linear-gradient(#0F0744, #090541);
}
.degradado-abajo{
    width: 100%;
    height: 100px;
    background: linear-gradient(#0D0643, #24135F );
}
.planes img{
    max-width: 300px;
}
.planes p{
    text-align: start;
}
.planes h2{
    margin-top: 5rem;
    font-family: "Proxima Nova Bold";
}
.swal-overlay {
    background-color: rgba( 36, 19, 95, 0.5);
}
.swal-title{
    color: #fff;
    font-size: 50px;
}
.swal-modal {
    background-color: rgba(13, 6, 66,1);
}
.swal-text{
    color: #ffff;
    font-family: "Proxima Nova Bold";
    text-align: center;
}
.lista-aviso li{
    list-style: none;
}
.recarga:hover{
    color: #8246AF;
}
@media (max-width:300px){
    .showcase{
        padding: 0;
    }
    .luces-centrada{
        padding: 0;
    }
    .logo-modal{
        max-width: 150px;
        margin-top: 20px;
        margin-left: 0;
    }
    #men-cerrar{
        width: 100%;
        margin-left: 280px;
        margin-top: -200px;
    }
    .header-somos h1{
        margin-top: 280px;
    }
    .icono-redes{
        margin-top: 0;
    }
    .icono-bb{
        margin-top: 0;
    }
    .menu{
        height: 140vh;
    }
}
@media (max-width:400px){
    .showcase{
        padding: 0;
    }
    .luces-centrada{
        padding: 0;
    }
    .logo-modal{
        max-width: 150px;
        margin-top: 20px;
        margin-left: 0;
    }
    #men-cerrar{
        margin-left: 320px;
        margin-top: -20px;
    }
    .header-somos h1{
        margin-top: 280px;
    }
    .icono-redes{
        margin-top: 0;
    }
    .icono-bb{
        margin-top: 0;
    }
    .menu{
        height: 140vh;
    }
    .sim{
        max-width: 300px;
        margin-left: 0;
    }
    .iconos-activa{
        margin-top: 250px;
    }
    .celular-modal{
        max-width: 300px;
    }
    .cel-modal{
        max-width: 300px;
        margin-left: 0;
    }
}
@media (max-width:500px){
    .showcase header{
        padding: 0;
    }
    .showcase{
        padding: 0;
    }
    .luces-centrada{
        padding: 0;
    }
    .logo-modal{
        max-width: 180px;
        margin-top: 40px;
        margin-left: 5px;
    } 
    #men-cerrar{
        margin-left: 320px;
        margin-top: -20px;
    }
    .header-somos h1{
        margin-top: 280px;
    }
    .icono-redes{
        margin-top: 0;
    }
    .icono-bb{
        margin-top: 0;
    }
    .menu{
        height: 140vh;
    }
}
@media (max-width:600px){
    .showcase{
        padding: 0;
    }
    .luces-centrada{
        padding: 0;
    }
    .logo-modal{
        max-width: 180px;
        margin-top: 40px;
        margin-left: 5px;
    }
    .header-somos h1{
        margin-top: 280px;
    }
    .icono-redes{
        margin-top: 0;
    }
    .icono-bb{
        margin-top: 0;
    }
    .menu{
        height: 120vh;
    }
}
@media (max-width:700px){
    .showcase{
        padding: 0;
    }
    .luces-centrada{
        padding: 0;
    }
    .logo-modal{
        max-width: 180px;
        margin-top: 40px;
        margin-left: 5px;
    }
    .btn-menu-cerrar{
        margin-left: 450px;
        margin-top: -40px;
    }
    .header-somos h1{
        margin-top: 280px;
    }
    .icono-redes{
        margin-top: 0;
    }
    .icono-bb{
        margin-top: 0;
    }
    .menu{
        height: 120vh;
    }
}
@media (max-width:800px){
    .showcase{
        padding: 0;
    }
    .luces-centrada{
        padding: 0;
    }
    .logo-modal{
        max-width: 180px;
        margin-top: 40px;
        margin-left: 5px;
    }
    .btn-menu-cerrar{
        margin-left: 600px;
        margin-top: -40px;
    }
    .header-somos h1{
        margin-top: 280px;
    }
    .icono-redes{
        margin-top: 0;
    }
    .icono-bb{
        margin-top: 0;
    }
    .menu{
        height: 120vh;
    }


    
}